.oneColor {
    display: flex;
    height: 30px;
    font-size: 12px;
    height: 3em;
}

#workColor {
  width: 20px;
  height: 20px;
  background: #e2edf8;
}

#sickColor {
  width: 20px;
  height: 20px;
  background: #ba1d79;
}

#uniColor {
  width: 20px;
  height: 20px;
  background: #f15a24;
}

#homeColor {
  width: 20px;
  height: 20px;
  background: #29abe2;
}

#lessColor {
  width: 20px;
  height: 20px;
  background: #22b573;
}

#otherColor {
  width: 20px;
  height: 20px;
  background: #662d91;
}


.All {
    font-weight: bold;
    color: #000000;
    border-bottom: solid 2.7px #29abe2;
}

#search {
    margin-right: 10em;
    margin-bottom: 2em;
}

#underDate{
    margin-top: -180px;
}

#today {
	font-size: 16px;
	font-weight: bold;
	color: #259adb;
}

.input {
    border: solid 1px #e6e6e6;
    opacity: 0;
}

.Button {
  	width: 15.8px;
	height: 15.8px;
    text-align: center;
    font-size: 7px;
    border-radius: 7px;
    background-color: #e6e6e6;
    border-width: 0px;
    outline:none;
    margin-left: 1em;
    margin-top: 0.5em;
}

.arrow{
    color: #9d9d9d;
}

#line{
    display: flex;
}


#secondRow {
	width: 100%;
	height: 1px;
	border: solid 1px #cccccc;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

#user{
    height: 48.9px;
}

.star{
    font-size: 15px;
    position: absolute;
    top: 0;
    left:110px;

}


.form-control-feedback {
     position: static;
}

.img{
    width: 25px;
	height: 25px;
    float:left;
    margin-right:0.25em;
    border-radius: 50%;
}

#userName{
    font-weight: bold;
    padding-right: 10px;
}

#userInfo{
    padding-top: 1em;
    padding-left:1.5em;
    padding-right:0.5em;
}

#box {
	width: 145px;
	height: 300px;
	border: solid 2px #29abe2;
    text-align: center;
    background-color: #ffffff;
    font-size: 12px;
}

#oneUser{
    margin-right:0em;
    padding-left:0px;
    padding-right:0px;
    margin-bottom: 2em;
}

.box2{
    background-color: #e2edf8;
	height: 22.7px;
}

#time{
    padding-left: 0px;
    color: #a8b6c3;
}

.box2:focus{
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.userId{
    font-size: 0px;
}

#info{
    font-size: 0px;
}

#atstradaList{
   font-size: 0px;
}

.box2 + .tooltip > .tooltip-inner {
    width: 99px !important;
	height: 92px !important;
	border: solid 1px #cccccc;
    background-color: #ffffff;
    border-radius: 0;
    white-space: pre-line;
    line-height: 12px;
	font-size: 10px;
	text-align: left;
    color: #2d3439;
    padding:0;
}

.box2 + .tooltip > .tooltip-arrow {
    display: none;
}

.tooltip.in {
  opacity: 1;
  filter:alpha(opacity=100);

}

#Save
{
    margin-top: 2px;
    color: 	#DCDCDC;
    background-color: inherit;
    border: none;
    outline:none;
}

.favorites{
    font-size: 0;
}

.starFavorites{
    color: #f8e81c;
}

#givenDate{
    font-size: 0;
}