body {
  background-color: #f2f2f2;
  font-family: 'Oxygen';
}

.container{
    border: solid 0.5px #29abe2;
    width: 500px;
    background-color: white;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    position: fixed;
    top: 25%;
    left: 50%;
    margin-left: -250px;
}

.row{
    margin-left: 7em;
}

#save {
    width : 200px;
    height: 30px;
    margin-top: 20px;
    background-color: #29abe2;
    border-width: 0px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 7px;
}

form {
    padding-right: 9em;
}
