body {
  background-color: #f2f2f2;
  font-family: 'Oxygen';


}

#text{
    font-size: 30px;
}

#id_username{
    margin-left:5px;
    width : 180px;
    height: 30px;
    border-radius: 7px;
    border-width: 1px;
}

.container{
    border: solid 0.5px #29abe2;
    width: 500px;
    background-color: white;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: right;
    position: fixed;
    top: 15%;
    left: 40%;

}

.inputField {
    margin-left:5px;
    width : 180px;
    height: 30px;
    border-radius: 7px;
    border-width: 1px;
}

#btn {
    width : 200px;
    height: 30px;
    margin-top: 20px;
    background-color: #29abe2;
    border-width: 0px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 7px;
}

li{
    list-style-type: none;
}



.form-group{
    margin-top: 15px;
}


#error{
    font-size: 14px;
}

.errorList{
    padding-left:0px;
}



form {
    padding-right: 9em;
}

.helptext{
    font-size: 13px;
    display:block;
    padding-left:9em;
}