#Content{
  margin-top: 100px;
  margin-left: 250px;
  margin-right: 250px;
}

body {
  background-color: #f2f2f2;
  font-family: 'Oxygen';

}

#navigation{
  text-align:center;
  vertical-align:middle;
  padding-top: 80px;
  padding-left: 350px;
  margin-bottom: 40px;

}

#navigation div {
  padding: 0.5em;
}

a:hover{
  color: #000000;
  text-decoration: none;
}

.My {
  font-size: 14px;
  color: #9d9d9d;
}

.All {
  font-size: 14px;
  color: #9d9d9d;
  /*text-decoration: none;*/
}

.Saved {
  font-size: 14px;
  color: #9d9d9d;
}

#List{
  font-size: 10px;
  color: #9d9d9d;
}

#LogOut{
  font-size: 10px;
  color: #9d9d9d;
}

li {
  list-style-type: none;
}
