#user{
    width: 300px;
}

.img{
    width: 180px;
    height: 180px;
}

#first {
    margin-bottom: 2em;
    margin-right: 5em;
}

#oneUser{
    margin-bottom: 2em;
}

#oneUser .row {
    margin-right: 5em;
}

#Create{
    margin-left: 5em;
}

#List{
    font-weight: bold;
    color: #000000;
    border-bottom: solid 2.7px #29abe2;
}

#name{
    margin-left: 0.2em;
}



.button{
    height: 30px;
    background-color: #29abe2;
    font-size: 16px;
    border-color: #29abe2;
    border-width: 1.5px;
    margin-top:0.5em;
}



.text{
    color: #ffffff;
    font-size: 12px;
}

.createButton{
    width: 200px;
    height: 30px;
    background-color:  #29abe2;
    font-size: 16px;
    border-color: #29abe2;
    border-width: 1.5px;
    margin-top:0.5em;
    margin-left: 5em;
}

#textCreate{
    color: #ffffff;
    font-size: 16px;
}

