.img{
    width: 180px;
    height: 180px;
}

.createButton{
    width: 200px;
    height: 30px;
    background-color:  #29abe2;
    font-size: 16px;
    border-color: #29abe2;
    border-width: 1.5px;
    margin-top:0.5em;
    margin-left: 8.5em;
    margin-bottom: 3em;
}

@import url(https://fonts.googleapis.com/css?family=Roboto);

*, *:before, *:after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body{
  background: #f9f9f9;
  font-family: 'Roboto', sans-serif;
}

.link{
  text-decoration: none;
  color: inherit;
}

h2.title{
  color: #6cc551;
  text-align: center;
  margin: 20px 0;
}

div.container{
  width: 1040px;
  margin: auto;
}

div.images {
  margin: 15px;
  border: 1px solid #ddd;
  float: left;
  width: 200px;
  -moz-box-shadow: 2px 2px 3px 0px #aaa;
  -webkit-box-shadow: 2px 2px 3px 0px #aaa;
  -o-box-shadow: 2px 2px 3px 0px #aaa;
  box-shadow: 2px 2px 3px 0px #aaa;
  filter:progid:DXImageTransform.Microsoft.Shadow(color=#aaa, Direction=134, Strength=3);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

div.images:hover{
-moz-box-shadow: 2px 2px 3px 0px #999;
-webkit-box-shadow: 2px 2px 3px 0px #999;
-o-box-shadow: 2px 2px 3px 0px #999;
box-shadow: 2px 2px 3px 0px #999;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#999, Direction=134, Strength=3);
}

div.images:hover .description{
  color: #2d2d2d;
}

div.images img {
  width: 100%;
  padding: 5px;
}

p.description {
  color: #777;
  padding: 15px 15px 10px 15px;
  text-align: center;


}

div.clear{
  clear: both;
}

p.information{
  color: #888;
  text-align: center;
  margin: 20px 0;
}

@media screen and (max-width: 1045px){
  div.container{
    width: 780px;
  }
}

@media screen and (max-width: 785px){
  div.container{
    width: 560px;
  }

  div.images{
    margin: 15px;
  }
}

@media screen and (max-width: 575px){
  div.container{
    width: 350px;
  }

  div.images{
    margin: 10px 5px;
    width: 350px;
  }
}

@media screen and (max-width: 405px){
  div.container{
    width: 280px;
  }

  div.images{
    width: 280px;
  }
}

.button {
  padding: 2px 2px;
  margin: 10px 0 0 -5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color: black;
  font-size: 12px;
  background-color: white;
  border: solid 1px #cecece;
}

.button:hover {
  background-color: #cecece;
}


.fill{
    margin-left: 20px;
}

.inputAdd{
    width: 200px;
    margin-bottom: 10px;
}

#surnameText{
    margin-left: 160px;
}

#surname{
    margin-left: 1.5em;
}

#passTextAgain{
    margin-left: 160px;
}

.submitButton{
  background-color: white;
  border: solid 1px #bfbfbf;
  background-color: #F5F5F5;
  outline:none;
  font-weight: bold;
  margin-bottom: 10px;
  font-size:16px;
  padding-left: 20px;
  padding-right:20px;
}

#delete{
    display: flex;
    margin-left: 2em;
    margin-bottom: 2em;
}

#deleteSubmit{
  background-color: white;
  border: solid 1px #bfbfbf;
  background-color: #F5F5F5;
  outline:none;
  font-weight: bold;
  font-size:16px;
  margin-left: 2em;
  padding-left: 20px;
  padding-right:20px;
}

/*.allUsername{
    font-size:0;
}