{% load staticfiles %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="http://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />





<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Oxygen');
    </style>
  </head>



    <nav class="navbar navbar-default">
    <div class="container-fluid">


    <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'darba_laiks:darba_laiks' %}">Mans darba laiks</a>
        </div>

    <!-- Items -->
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{% url 'darba_laiks:darbinieki' %}">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>&nbsp;
                        Visi
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'darba_laiks:saglabatie' %}">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;
                        Saglabātie
                    </a>
                </li>
                 <li class="">
                        <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>&nbsp;
                          <button id="modal-button" type="button"  data-toggle="modal" data-target="#myModal">Pievienot virsstundas</button>

                </li>
                <li class="">
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>&nbsp;
                          <button id="modal-button" type="button"  data-toggle="modal" data-target="#myModal2">Skatīties virsstundas</button>

                </li>


      </ul>

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Pievienot virsstundas</h4>
        </div>
        <br class="modal-body">

            <form method='POST' role="form" action="/darba_laiks/">{% csrf_token %}
                <label>Datums:</label>
                        <input type="text" name="datums-virsstundas" value=""></br>
                <label>No:</label>
                        <input type="text" name="no-virsstundas" value=""></br>
                <label>Līdz:</label>
                <input type="text" name="lidz-virsstundas" value=""></br>
               <label>Komentārs:</label>
                <input type="text" name="komentars-virsstundas" value=""></br>
                        <input type="submit" value="OK">
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>


    <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Ievadiet laika periodu, kurā Jūs gribētu atlasīt virsstundas</h4>
        </div>
        <br class="modal-body">

            <form method='POST' role="form" action="/darba_laiks/">{% csrf_token %}
                <label>Datums no:</label>
                        <input type="text" name="datums-no-virsstundas-atlasit" value=""></br>
                <label>Datums līdz:</label>
                        <input type="text" name="datums-lidz-virsstundas-atlasit" value=""></br>
                        <input type="submit" value="Atlasīt">
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>







          <ul class="nav navbar-nav navbar-right">
                 {% if user.is_superuser or user.is_staff %}
              <li class="">
                    <a href="{% url 'darba_laiks:visi' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
                        Darbinieku saraksts
                    </a>
              </li>
              {% endif %}
              <li class="">
                    <a href="{% url 'darba_laiks:logout' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;
                        Izrakstīties
                    </a>
              </li>
          </ul>
        </div>
    </div>
</nav>


    <body>
      <div class="container-fluid">







        {% block content %}
        {% endblock %}


      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </body>
</html>