{% load staticfiles %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="http://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />





<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Oxygen');
    </style>
  </head>



    <nav class="navbar navbar-default">
    <div class="container-fluid">


    <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'darba_laiks:darba_laiks' %}">Mans darba laiks</a>
        </div>

    <!-- Items -->
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="">
                    <a href="{% url 'darba_laiks:darbinieki' %}">
                        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>&nbsp;
                        Visi
                    </a>
                </li>
                <li class="">
                    <a href="{% url 'darba_laiks:saglabatie' %}">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;
                        Saglabātie
                    </a>
                </li>
            </ul>


          <ul class="nav navbar-nav navbar-right">
                 {% if user.is_superuser or user.is_staff %}
              <li class="">
                    <a href="{% url 'darba_laiks:visi' %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
                        Darbinieku saraksts
                    </a>
              </li>
              {% endif %}
              <li class="">
                    <a href="{% url 'darba_laiks:logout' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;
                        Izrakstīties
                    </a>
              </li>
          </ul>
        </div>
    </div>
</nav>


    <body>
      <div class="container-fluid">







        {% block content %}
        {% endblock %}


      </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </body>
</html>