
{%extends "base.html" %}

{% block content %}

        <a id = "LogOut" href="{% url 'darba_laiks:logout' %}">Izrakstīties</a>

        <div class = "My">Mans Darba Laiks</div>
        <a class="All" href="{% url 'darba_laiks:darbinieki' %}"> Visi</a>

        {% if user.is_superuser or user.is_staff %}
        <a id = "List" href="{% url 'darba_laiks:visi' %}">Darbinieku saraksts</a>
        {% endif %}

        <div class = "Saved">Saglabātie</div>
        <div class = "Month">

            {% if month == 1 %}
                 JANVĀRIS
            {% elif month == 2 %}
                 FEBRUĀRIS
            {% elif month == 3 %}
                 MARTS
            {% elif month == 4 %}
                 APRĪLIS
            {% elif month == 5 %}
                 MAIJS
            {% elif month == 6 %}
                 JŪNIJS
            {% elif month == 7 %}
                 JŪLIJS
            {% elif month == 8 %}
                 AUGUSTS
            {% elif month == 9 %}
                 SEPTEMBRIS
            {% elif month == 10 %}
                 OKTOBRIS
            {% elif month == 11 %}
                 NOVEMBRIS
            {% elif month == 12 %}
                 DECEMBRIS
            {% endif %}

        </div>
        <div class = "Line"></div>
        <!-- Seit vajadzes ar kalendaru darboties -->

        <div id = "Days">
          <div id = "Monday">Pirmdiena</div>
          <div id = "Tuesday">Otrdiena</div>
          <div id = "Wednesday">Trešdiena</div>
          <div id = "Thursday">Ceturtdiena</div>
          <div id = "Friday">Piektdiena</div>
          <div id = "Saturday">Sestdiena</div>
          <div id = "Sunday">Svētdiena</div>
        </div>

        <div id = "Date">
        <div id = "MondayDate">{{ monday|date:"j. m" }}</div>
          <div id = "TuesdayDate">{{ tuesday|date:"j. m" }}</div>
          <div id = "WednesdayDate">{{ wednesday|date:"j. m" }}</div>
          <div id = "ThursdayDate">{{ thursday|date:"j. m" }}</div>
          <div id = "FridayDate">{{ friday|date:"j. m" }}</div>
          <div id = "SaturdayDate">{{ saturday|date:"j. m" }}</div>
          <div id = "SundayDate">{{ sunday|date:"j. m" }}</div>
        </div>

        <div id = "Table">

              <ul class = "List" id="MondayList">
                  <li class = "box1" id = "M8-9">08:00 - 09:00</li>
                  <li tabindex="1" tabindex="1" class = "box2" id = "M9-10">09:00 - 10:00</li>
                  <li tabindex="1" tabindex="1" class = "box2" id = "M10-11">10:00 - 11:00</li>
                  <li tabindex="1" class = "box2" id = "M11-12">11:00 - 12:00</li>
                  <li tabindex="1" class = "box2" id = "M12-13">12:00 - 13:00</li>
                  <li tabindex="1" class = "box2" id = "M13-14">13:00 - 14:00</li>
                  <li tabindex="1" class = "box2" id = "M14-15">14:00 - 15:00</li>
                  <li tabindex="1" class = "box2" id = "M15-16">15:00 - 16:00</li>
                  <li tabindex="1" class = "box2" id = "M16-17">16:00 - 17:00</li>
                  <li tabindex="1" class = "box2" id = "M17-18">17:00 - 18:00</li>
                  <li class = "box1" id = "M18-19">18:00 - 19:00</li>
              </ul>

              <ul class = "List" id="TuesdayList">
                  <li class = "box1" id = "Tu8-9">08:00 - 09:00</li>
                  <li tabindex="1" class = "box2" id = "Tu9-10">09:00 - 10:00</li>
                  <li tabindex="1" class = "box2" id = "Tu10-11">10:00 - 11:00</li>
                  <li tabindex="1" class = "box2" id = "Tu11-12">11:00 - 12:00</li>
                  <li tabindex="1" class = "box2" id = "Tu12-13">12:00 - 13:00</li>
                  <li tabindex="1" class = "box2" id = "Tu13-14">13:00 - 14:00</li>
                  <li tabindex="1" class = "box2" id = "Tu14-15">14:00 - 15:00</li>
                  <li tabindex="1" class = "box2" id = "Tu15-16">15:00 - 16:00</li>
                  <li tabindex="1" class = "box2" id = "Tu16-17">16:00 - 17:00</li>
                  <li tabindex="1" class = "box2" id = "Tu17-18">17:00 - 18:00</li>
                  <li class = "box1" id = "Tu18-19">18:00 - 19:00</li>
              </ul>

              <ul class = "List" id="WednesdayList">
                  <li class = "box1" id = "We8-9">08:00 - 09:00</li>
                  <li tabindex="1" class = "box2" id = "We9-10">09:00 - 10:00</li>
                  <li tabindex="1" class = "box2" id = "We10-11">10:00 - 11:00</li>
                  <li tabindex="1" class = "box2" id = "We11-12">11:00 - 12:00</li>
                  <li tabindex="1" class = "box2" id = "We12-13">12:00 - 13:00</li>
                  <li tabindex="1" class = "box2" id = "We13-14">13:00 - 14:00</li>
                  <li tabindex="1" class = "box2" id = "We14-15">14:00 - 15:00</li>
                  <li tabindex="1" class = "box2" id = "We15-16">15:00 - 16:00</li>
                  <li tabindex="1" class = "box2" id = "We16-17">16:00 - 17:00</li>
                  <li tabindex="1" class = "box2" id = "We17-18">17:00 - 18:00</li>
                  <li class = "box1" id = "We18-19">18:00 - 19:00</li>
              </ul>

              <ul class = "List" id = "ThursdayList">
                <li class = "box1" id = "Th8-9">08:00 - 09:00</li>
                <li tabindex="1" class = "box2" id = "Th9-10">09:00 - 10:00</li>
                <li tabindex="1" class = "box2" id = "Th10-11">10:00 - 11:00</li>
                <li tabindex="1" class = "box2" id = "Th11-12">11:00 - 12:00</li>
                <li tabindex="1" class = "box2" id = "Th12-13">12:00 - 13:00</li>
                <li tabindex="1" class = "box2" id = "Th13-14">13:00 - 14:00</li>
                <li tabindex="1" class = "box2" id = "Th14-15">14:00 - 15:00</li>
                <li tabindex="1" class = "box2" id = "Th15-16">15:00 - 16:00</li>
                <li tabindex="1" class = "box2" id = "Th16-17">16:00 - 17:00</li>
                <li tabindex="1" class = "box2" id = "Th17-18">17:00 - 18:00</li>
                <li class = "box1" id = "Th18-19">18:00 - 19:00</li>
              </ul>

              <ul class = "List" id = "FridayList">
                <li class = "box1" id = "F8-9">08:00 - 09:00</li>
                <li tabindex="1" class = "box2" id = "F9-10">09:00 - 10:00</li>
                <li tabindex="1" class = "box2" id = "F10-11">10:00 - 11:00</li>
                <li tabindex="1" class = "box2" id = "F11-12">11:00 - 12:00</li>
                <li tabindex="1" class = "box2" id = "F12-13">12:00 - 13:00</li>
                <li tabindex="1" class = "box2" id = "F13-14">13:00 - 14:00</li>
                <li tabindex="1" class = "box2" id = "F14-15">14:00 - 15:00</li>
                <li tabindex="1" class = "box2" id = "F15-16">15:00 - 16:00</li>
                <li tabindex="1" class = "box2" id = "F16-17">16:00 - 17:00</li>
                <li tabindex="1" class = "box2" id = "F17-18">17:00 - 18:00</li>
                <li class = "box1" id = "F18-19">18:00 - 19:00</li>
              </ul>

              <ul class = "List" id = "SaturdayList">
                <li class = "box3" id = "Sa9-10">09:00 - 10:00</li>
                <li class = "box3" id = "Sa10-11">10:00 - 11:00</li>
                <li class = "box3" id = "Sa11-12">11:00 - 12:00</li>
                <li class = "box3" id = "Sa12-13">12:00 - 13:00</li>
                <li class = "box3" id = "Sa13-14">13:00 - 14:00</li>
                <li class = "box3" id = "Sa14-15">14:00 - 15:00</li>
                <li class = "box3" id = "Sa15-16">15:00 - 16:00</li>
                <li class = "box3" id = "Sa16-17">16:00 - 17:00</li>
                <li class = "box3" id = "Sa17-18">17:00 - 18:00</li>
              </ul>

              <ul class = "List" id = "SundayList">
                <li class = "box3" id = "Su9-10">09:00 - 10:00</li>
                <li class = "box3" id = "Su10-11">10:00 - 11:00</li>
                <li class = "box3" id = "Su11-12">11:00 - 12:00</li>
                <li class = "box3" id = "Su12-13">12:00 - 13:00</li>
                <li class = "box3" id = "Su13-14">13:00 - 14:00</li>
                <li class = "box3" id = "Su14-15">14:00 - 15:00</li>
                <li class = "box3" id = "Su15-16">15:00 - 16:00</li>
                <li class = "box3" id = "Su16-17">16:00 - 17:00</li>
                <li class = "box3" id = "Su17-18">17:00 - 18:00</li>
              </ul>


        </div>

        <div class = "button" id = button1></div>
        <div class = "button" id = button2></div>
        <div class = "arrow" id = "arrow_up"></div>
        <div class = "arrow" id = "arrow_down"></div>

        <div id="WeekDate">{{week}}</div>
        <div id = "Week" >nedēļa</div>


        <div id = "Fill">

            <p id="Time">Laiks:</p>

            <input class = "FirstLine DateField" id = "InputDate" type = "date">
            <input class = "FirstLine TimeField" id = "InputFrom" type = "time">
            <p class = "FirstLine">-</p>
            <input class = "FirstLine TimeField" id = "InputUntill" type = "time">

            <p>Iemesls:</p>

            <input id="InputReason" list = "Reason">

                <datalist id="Reason">
                    <option id = "Sick" value="Slimība">
                    <option id = "Vacation" value="Atvaļinājums">
                    <option id = "Lecture" value="Lekcijas">
                    <option id = "WorkFromHome" value="Darbs no mājām">
                    <option id = "Workload" value="Mazāka slodze">
                    <option id = "Other" value="Cits">
                </datalist>

            <p>Tiks atstrādāts</p>

            <input class = "SecondLine DateField" id = "AfterDate" type = "date">
            <input class = "SecondLine TimeField" id = "AfterFrom" type = "time">
            <p class = "SecondLine">-</p>
            <input class = "SecondLine TimeField" id = "AfterUntill" type = "time">

            <div id="Save"><div id = "SaveText">Saglabāt</div></div>

        </div>


  {% endblock %}


