{%extends "base.html" %}



{% block content %}

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/My.css' %}" />

        <div class = "Month">

            {% if month == 1 %}
                 JANVĀRIS
            {% elif month == 2 %}
                 FEBRUĀRIS
            {% elif month == 3 %}
                 MARTS
            {% elif month == 4 %}
                 APRĪLIS
            {% elif month == 5 %}
                 MAIJS
            {% elif month == 6 %}
                 JŪNIJS
            {% elif month == 7 %}
                 JŪLIJS
            {% elif month == 8 %}
                 AUGUSTS
            {% elif month == 9 %}
                 SEPTEMBRIS
            {% elif month == 10 %}
                 OKTOBRIS
            {% elif month == 11 %}
                 NOVEMBRIS
            {% elif month == 12 %}
                 DECEMBRIS
            {% endif %}

        </div>

        <!-- Seit vajadzes ar kalendaru darboties -->



        <div class = "row" id = "Table">


                <div class = "container col-sm-1">
                    <button type="button" class="Button" id="Up">
                        <span class="glyphicon glyphicon-menu-up arrow"></span>
                    </button>

                    <div id="WeekDate">{{week}}</div>
                    <div id = "Week" >nedēļa</div>

                    <button type="button" class="Button" id="Down">
                        <span class="glyphicon glyphicon-menu-down arrow"></span>
                    </button>
                </div>

                <ul class = "container col-sm-2" id="MondayList">
                        <div class = "DayDate">
                            <p id = "Monday">Pirmdiena</p>
                            <p class = "Date" id = "MondayDate"><span class="pull-right">{{ monday|date:"j. m" }}</span></p>
                        </div>
                      <li class = "box1" id = "M8-9">08:00 - 09:00</li>
                      <li tabindex="1" tabindex="1" class = "box2" id = "M9-10">09:00 - 10:00</li>
                      <li tabindex="1" tabindex="1" class = "box2" id = "M10-11">10:00 - 11:00</li>
                      <li tabindex="1" class = "box2" id = "M11-12">11:00 - 12:00</li>
                      <li tabindex="1" class = "box2" id = "M12-13">12:00 - 13:00</li>
                      <li tabindex="1" class = "box2" id = "M13-14">13:00 - 14:00</li>
                      <li tabindex="1" class = "box2" id = "M14-15">14:00 - 15:00</li>
                      <li tabindex="1" class = "box2" id = "M15-16">15:00 - 16:00</li>
                      <li tabindex="1" class = "box2" id = "M16-17">16:00 - 17:00</li>
                      <li tabindex="1" class = "box2" id = "M17-18">17:00 - 18:00</li>
                      <li class = "box1" id = "M18-19">18:00 - 19:00</li>
                  </ul>

                <ul class = "container col-sm-2" id="TuesdayList">
                    <div class = "DayDate">
                        <p id = "Tuesday">Otrdiena</p>
                        <p class = "Date" id = "TuesdayDate"><span class="pull-right">{{ tuesday|date:"j. m" }}</span></p>
                    </div>
                      <li class = "box1" id = "Tu8-9">08:00 - 09:00</li>
                      <li tabindex="1" class = "box2" id = "Tu9-10">09:00 - 10:00</li>
                      <li tabindex="1" class = "box2" id = "Tu10-11">10:00 - 11:00</li>
                      <li tabindex="1" class = "box2" id = "Tu11-12">11:00 - 12:00</li>
                      <li tabindex="1" class = "box2" id = "Tu12-13">12:00 - 13:00</li>
                      <li tabindex="1" class = "box2" id = "Tu13-14">13:00 - 14:00</li>
                      <li tabindex="1" class = "box2" id = "Tu14-15">14:00 - 15:00</li>
                      <li tabindex="1" class = "box2" id = "Tu15-16">15:00 - 16:00</li>
                      <li tabindex="1" class = "box2" id = "Tu16-17">16:00 - 17:00</li>
                      <li tabindex="1" class = "box2" id = "Tu17-18">17:00 - 18:00</li>
                      <li class = "box1" id = "Tu18-19">18:00 - 19:00</li>
                  </ul>

                  <ul class = "container col-sm-2" id="WednesdayList">
                      <div class = "DayDate">
                        <p id = "Wednesday">Trešdiena</p>
                          <p class = "Date" id = "WednesdayDate"><span class="pull-right">{{ wednesday|date:"j. m" }}</span></p>
                      </div>
                      <li class = "box1" id = "We8-9">08:00 - 09:00</li>
                      <li tabindex="1" class = "box2" id = "We9-10">09:00 - 10:00</li>
                      <li tabindex="1" class = "box2" id = "We10-11">10:00 - 11:00</li>
                      <li tabindex="1" class = "box2" id = "We11-12">11:00 - 12:00</li>
                      <li tabindex="1" class = "box2" id = "We12-13">12:00 - 13:00</li>
                      <li tabindex="1" class = "box2" id = "We13-14">13:00 - 14:00</li>
                      <li tabindex="1" class = "box2" id = "We14-15">14:00 - 15:00</li>
                      <li tabindex="1" class = "box2" id = "We15-16">15:00 - 16:00</li>
                      <li tabindex="1" class = "box2" id = "We16-17">16:00 - 17:00</li>
                      <li tabindex="1" class = "box2" id = "We17-18">17:00 - 18:00</li>
                      <li class = "box1" id = "We18-19">18:00 - 19:00</li>
                  </ul>

                  <ul class = "container col-sm-2" id = "ThursdayList">
                      <div class = "DayDate">
                        <p id = "Thursday">Ceturtdiena</p>
                          <p class = "Date" id = "ThursdayDate"><span class="pull-right">{{ thursday|date:"j. m" }}</span></p>
                      </div>
                    <li class = "box1" id = "Th8-9">08:00 - 09:00</li>
                    <li tabindex="1" class = "box2" id = "Th9-10">09:00 - 10:00</li>
                    <li tabindex="1" class = "box2" id = "Th10-11">10:00 - 11:00</li>
                    <li tabindex="1" class = "box2" id = "Th11-12">11:00 - 12:00</li>
                    <li tabindex="1" class = "box2" id = "Th12-13">12:00 - 13:00</li>
                    <li tabindex="1" class = "box2" id = "Th13-14">13:00 - 14:00</li>
                    <li tabindex="1" class = "box2" id = "Th14-15">14:00 - 15:00</li>
                    <li tabindex="1" class = "box2" id = "Th15-16">15:00 - 16:00</li>
                    <li tabindex="1" class = "box2" id = "Th16-17">16:00 - 17:00</li>
                    <li tabindex="1" class = "box2" id = "Th17-18">17:00 - 18:00</li>
                    <li class = "box1" id = "Th18-19">18:00 - 19:00</li>
                  </ul>

                  <ul class = "container col-sm-2" id = "FridayList">
                      <div class = "DayDate">
                        <p id = "Friday">Piektdiena</p>
                          <p class = "Date" id = "FridayDate"><span class="pull-right">{{ friday|date:"j. m" }}</span></p>
                      </div>
                    <li class = "box1" id = "F8-9">08:00 - 09:00</li>
                    <li tabindex="1" class = "box2" id = "F9-10">09:00 - 10:00</li>
                    <li tabindex="1" class = "box2" id = "F10-11">10:00 - 11:00</li>
                    <li tabindex="1" class = "box2" id = "F11-12">11:00 - 12:00</li>
                    <li tabindex="1" class = "box2" id = "F12-13">12:00 - 13:00</li>
                    <li tabindex="1" class = "box2" id = "F13-14">13:00 - 14:00</li>
                    <li tabindex="1" class = "box2" id = "F14-15">14:00 - 15:00</li>
                    <li tabindex="1" class = "box2" id = "F15-16">15:00 - 16:00</li>
                    <li tabindex="1" class = "box2" id = "F16-17">16:00 - 17:00</li>
                    <li tabindex="1" class = "box2" id = "F17-18">17:00 - 18:00</li>
                    <li class = "box1" id = "F18-19">18:00 - 19:00</li>
                  </ul>

                  <ul class = "container col-sm-2" id = "HolidayList">
                      <div class = "DayDate">
                        <p id = "Saturday">Sestdiena</p>
                          <p class = "Date" id = "SaturdayDate"><span class="pull-right">{{ saturday|date:"j. m" }}</span></p>
                      </div>
                      <div class = "container" id = "SaturdayList">
                        <li class = "box3" id = "Sa9-10">09:00 - 10:00</li>
                        <li class = "box3" id = "Sa10-11">10:00 - 11:00</li>
                        <li class = "box3" id = "Sa11-12">11:00 - 12:00</li>
                        <li class = "box3" id = "Sa12-13">12:00 - 13:00</li>
                        <li class = "box3" id = "Sa13-14">13:00 - 14:00</li>
                        <li class = "box3" id = "Sa14-15">14:00 - 15:00</li>
                        <li class = "box3" id = "Sa15-16">15:00 - 16:00</li>
                        <li class = "box3" id = "Sa16-17">16:00 - 17:00</li>
                        <li class = "box3" id = "Sa17-18">17:00 - 18:00</li>
                      </div>

                      <div class = "DayDate">
                        <p id = "Sunday">Svētdiena</p>
                          <p class = "Date" id = "SundayDate"><span class="pull-right">{{ sunday|date:"j. m" }}</span></p>
                      </div>

                    <div class = "container" id = "SundayList">
                        <li class = "box3" id = "Su9-10">09:00 - 10:00</li>
                        <li class = "box3" id = "Su10-11">10:00 - 11:00</li>
                        <li class = "box3" id = "Su11-12">11:00 - 12:00</li>
                        <li class = "box3" id = "Su12-13">12:00 - 13:00</li>
                        <li class = "box3" id = "Su13-14">13:00 - 14:00</li>
                        <li class = "box3" id = "Su14-15">14:00 - 15:00</li>
                        <li class = "box3" id = "Su15-16">15:00 - 16:00</li>
                        <li class = "box3" id = "Su16-17">16:00 - 17:00</li>
                        <li class = "box3" id = "Su17-18">17:00 - 18:00</li>
                    </div>
                  </ul>
        </div>


        <div class = "row" id = "FillRow">
            <div class = "container" id= "Fill">
                <p id="Time">Laiks:</p>

                <input class = "FirstLine DateField" id = "InputDate" type = "date">
                <input class = "FirstLine TimeField" id = "InputFrom" type = "time">
                <p class = "FirstLine">-</p>
                <input class = "FirstLine TimeField" id = "InputUntill" type = "time">

                <p>Iemesls:</p>

                <input id="InputReason" list = "Reason">

                    <datalist id="Reason">
                        <option id = "Sick" value="Slimība">
                        <option id = "Vacation" value="Atvaļinājums">
                        <option id = "Lecture" value="Lekcijas">
                        <option id = "WorkFromHome" value="Darbs no mājām">
                        <option id = "Workload" value="Mazāka slodze">
                        <option id = "Other" value="Cits">
                    </datalist>

                <p>Tiks atstrādāts</p>

                <input class = "SecondLine DateField" id = "AfterDate" type = "date">
                <input class = "SecondLine TimeField" id = "AfterFrom" type = "time">
                <p class = "SecondLine">-</p>
                <input class = "SecondLine TimeField" id = "AfterUntill" type = "time">

                <div id="Save">Saglabāt</div>
            </div>
        </div>


  {% endblock %}

