{%extends "base_mobile.html" %}
{% block content %}

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/My_mobile.css' %}">


<div class = "container-fluid" id="content">

    <div class = "Month" id = "Month"></div>

    <div class = "row" id = "Table">

        <div class = "container col-sm-1" id = "dayBack">
            <form method='POST' role="form" action="/darba_laiks/">{% csrf_token %}
                <input type="hidden" name="date" id = "dateBackSend">
                <button class="Button">
                    <span class="glyphicon glyphicon-chevron-left arrow"></span>
                <input id= "Left" type = "submit" value = "">
                </button>
            </form>
        </div>

        <div class = "container col-sm-2 OneDay" id="MondayList">
            <div class = "DayDate">
                <p id = "day">Pirmdiena</p>
                <p class = "Date" id = "date"></p>
            </div>

            <ul class = "dayBox">
                <li class = "box1" id = "Mo08">08:00 - 09:00</li>
                <li tabindex="1" class = "box2" id = "09-10" data-toggle = "tooltip" data-placement = "right">09:00 - 10:00</li>
                <li tabindex="1" class = "box2" id = "10-11" data-toggle = "tooltip" data-placement = "right">10:00 - 11:00</li>
                <li tabindex="1" class = "box2" id = "11-12" data-toggle = "tooltip" data-placement = "right">11:00 - 12:00</li>
                <li tabindex="1" class = "box2" id = "12-13" data-toggle = "tooltip" data-placement = "right">12:00 - 13:00</li>
                <li tabindex="1" class = "box2" id = "13-14" data-toggle = "tooltip" data-placement = "right">13:00 - 14:00</li>
                <li tabindex="1" class = "box2" id = "14-15" data-toggle = "tooltip" data-placement = "right">14:00 - 15:00</li>
                <li tabindex="1" class = "box2" id = "15-16" data-toggle = "tooltip" data-placement = "right">15:00 - 16:00</li>
                <li tabindex="1" class = "box2" id = "16-17" data-toggle = "tooltip" data-placement = "right">16:00 - 17:00</li>
                <li tabindex="1" class = "box2" id = "17-18" data-toggle = "tooltip" data-placement = "right">17:00 - 18:00</li>
                <li class = "box1" id = "18">18:00 - 19:00</li>
            </ul>

            <div id = "Mo"></div>
        </div>

        <div class = "container col-sm-1" id = "dayForward">
            <form method='POST' role="form" action="/darba_laiks/">{% csrf_token %}
                <input type="hidden" name="date" id = "dateForwardSend">
                <button class="Button" id = "buttonDown">
                    <span class="glyphicon glyphicon-chevron-right arrow"></span>
                <input id= "Right" type = "submit" value = "">
                </button>
            </form>
        </div>
    </div>

</div>


        <div class = "row" id = "FillRow">
            <form class = "container" action="/darba_laiks/" id = "Fill">{% csrf_token %}
                <div class = "container" id ="data">

                    <p id="Time">Laiks:</p>

                    <input class = "FirstLine DateField" id = "InputDate" name = "dateWhenIs">
                    <input class = "FirstLine TimeField" id = "InputFrom" name = "timeFrom">
                    <p class = "FirstLine">-</p>
                    <input class = "FirstLine TimeField" id = "InputUntil"  name = "timeTill">

                    <p>Iemesls:</p>

                    <select id="InputReason" name = "reason" list = "Reason">
                        <option id = "Sick" value = "Slimiba">Slimība</option>
                        <option id = "Lecture">Lekcijas</option>
                        <option id = "WorkFromHome" value = "Darbs no majam">Darbs no mājām</option>
                        <option id = "Workload" value = "Mazaka slodze">Mazāka slodze</option>
                        <option id = "Other">Cits</option>
                    </select>

                    <p>Tiks atstrādāts</p>

                    <input class = "SecondLine DateField" id = "AfterDate"  name = "dateWhenWill">
                    <input class = "SecondLine TimeField" id = "AfterFrom" name = "timeWillStart">
                    <p class = "SecondLine">-</p>
                    <input class = "SecondLine TimeField" id = "AfterUntil"  name = "timeWillEnd">
                </div>
                <input type = "submit" value = "Saglabāt" id="Save">
            </form>
        </div>
<div class = "container" id = "dataForFill">

        <div class="row">
            <ul id = "iemeslsList">
                {% for i in iemesls %}
                    <div class = "allReasons">{{i}}</div>
                    <div class = "work">{{i.darba_laiks}}</div>
                {% endfor %}
            </ul>
        </div>

        <div class="row">
            <ul id = "atstradaList">
                {% for i in atstrada %}
                    <li class = "one">
                        <ul class = "willWork" id = "atstrada">
                            <!--<li class = "work">{{i.darba_laiks}}</li>-->
                            <li class = "reason" id = "nebusKapec">{{i.iemesls}}</li>
                            <li class = "atstradasNo" id = "atstradasNo">{{i.no|time:"H:i"}}</li>
                            <li class = "atstradasLidz" id = "atstradasLidz">{{i.lidz|time:"H:i"}}</li>
                            <li class = "atstradasKad" id = "atstradasKad">{{i.datums|date:"d.m"}}</li>
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div id = "givenDate">{{datums}}</div>

    </div>





    <form method='POST' role="form" class = "container" action="/darba_laiks/" id = "delete">{% csrf_token %}
        <input  type= "hidden" id="dateForm" name="datums-dzesanai" value = "">
        <input  type= "hidden" id="fromForm" name="no-dzesanai" value = "">
        <input  type= "hidden" id="untilForm" name="lidz-dzesanai" value = "">
        <input type = "submit" value = "Dzēst" id = "deleteButton">
    </form>


</div>


<script type="text/javascript" src="{% static 'datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'datepicker/locales/bootstrap-datepicker.lv.min.js' %}"></script>
<script type="text/javascript" src="{% static 'timepicker/jquery.timepicker.min.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" src="{% static 'JavaScript/code_mobile.js' %}"></script>


{% endblock %}
