{%extends "base.html" %}

{% block content %}

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Users.css' %}" />

 <div class = "row" id = "first">

     <div id = "Create">
                <a  href="{% url 'darba_laiks:create_user' %}">Izveidot lietotāju</a>
     </div>

     <div id = "search">
         <span class="pull-right">
             <form method="GET" action="">
                     <input type="text" name="q" placeholder="Meklēt lietotāju" value="{{ request.get.q }}"/>
                     <input type="submit" value="Meklēt"/>
             </form>
         </span>
     </div>

 </div>

<div class = "container">

{% for darbinieks in visi %}

    <div class = "col-sm-4" id = "oneUser">

            {% if darbinieks.userprofile.avatar %}
                <img src="{{darbinieks.userprofile.avatar.url}}" class="img">

            {% else %}
                <img src="/media/avatar.jpg" class="img">
            {% endif %}


                <div class = "row">{{darbinieks.username}} {{darbinieks.first_name}} {{darbinieks.last_name}} </div>
                <div class = "row">
                    <a href="{% url 'darba_laiks:update' darbinieks.id %}"> Rediģēt </a> &nbsp
                    <a href="{% url 'darba_laiks:dzest' darbinieks.id %}"> Dzēst </a>
                </div>

             <br>
    </div>

{% endfor %}

    </div>

  {% endblock %}


