{%extends "base.html" %}

{% block content %}

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Users.css' %}" />

 <div class = "row" id = "first">

     <div id = "Create">
         <button class = "createButton"><a id = "textCreate" href="{% url 'darba_laiks:create_user' %}">Izveidot lietotāju</a></button>
     </div>

     <div id = "search">
         <span class="pull-right">
             <form method="GET" action="">
                     <input type="text" name="q" placeholder="Meklēt lietotāju" value="{{ request.get.q }}"/>
                     <input id= "searchButton" type="submit" value="Meklēt"/>
             </form>
         </span>
     </div>

 </div>

<div class = "container">

{% for darbinieks in visi %}

    <div class = "col-sm-4" id = "oneUser">

            {% if darbinieks.userprofile.avatar %}
                <img src="{{darbinieks.userprofile.avatar.url}}" class="img">

            {% else %}
                <img src="/media/avatar.jpg" class="img">
            {% endif %}


                <div class = "row" id="name">{{darbinieks.first_name}} {{darbinieks.last_name}} </div>
                <div class = "row" id = "buttonRow">
                    <button class = "button"><a class = "text" href="{% url 'darba_laiks:update' darbinieks.id %}"> Rediģēt </a> &nbsp</button>
                    <button class = "button"><a class = "text" href="{% url 'darba_laiks:bilde' darbinieks.userprofile.id %}"> Rediģēt bildi </a> &nbsp</button>
                    <button class = "button"><a class = "text" href="{% url 'darba_laiks:dzest' darbinieks.id %}"> Dzēst </a></button>
                </div>

             <br>
    </div>

{% endfor %}


    </div>


  {% endblock %}


