{%extends "base.html" %}
{% block content %}

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/userProfile.css' %}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div class = "container profile">
    <div class = "row">
        <div class= "col-sm-6" id="image">
            <img src="{{userprofile.avatar.url}}" alt="" class="img">
        </div>
        <div class= "col-sm-4" >
            <div id = "text">
                <div class = "title" id = "usernameProfile">Lietotājvārds: <div class="innerText" id="usernameChange">{{ lietotajs.username }}</div></div>
                <div class = "title" id="nameProfile">Vārds: <div class="innerText" id="nameChange">{{ lietotajs.first_name }}</div></div>
                <div class = "title" id="surnameProfile" >Uzvārds: <div class="innerText" id="surnameChange">{{ lietotajs.last_name }}</div></div>
            </div>
            <button type="button" data-toggle="modal" data-target="#1" class="editButton" id="imageButton" >Rediģēt bildi</button>
            <button type="button" data-toggle="modal" data-target="#2" class="editButton" id="profileButton">Rediģēt profila datus</button>
            <button type="button" data-toggle="modal" data-target="#3" class="editButton" id="passwordButton">Mainīt paroli</button>
        </div>
    </div>

</div>


<div class="modal fade" id="1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Rediģēt lietotāja profila bildi</h4>
            </div>
            <br class="modal-body">
            <form action="/darba_laiks/mans-profils/" method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class = "container fill">
                    <input type="hidden" name="user-id-update-photo" value="{{userprofile.id}}">
                    <p>
                        <input id="id_image" type="file" class="" name="image" accept="image/*">
                    </p>
                    <input type="submit" class = "submitButton" value="Saglabāt">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Aizvērt</button>
        </div>
    </div>
</div>

<div id="2" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Rediģēt profila datus</h4>

      </div>
        <br class="modal-body">

            <form method='POST' role="form"  action="/darba_laiks/mans-profils/" class="updateForm" >{% csrf_token %}
                <div class = "container fill">
                <input type="hidden" name="user-id-update" value="{{ lietotajs.id }}">

                <label>Lietotājvārds: {{ lietotajs.username }}</label><br>
                <label>Vārds:</label>
                        <input type="text" name="first-name-update" id = "firstName" class = "inputAdd first-name-update" value="{{lietotajs.first_name}}">
                <label id= "surname">Uzvārds:</label>
                <input type="text" name="last-name-update" id="lastName" class = "inputAdd last-name-update" value="{{lietotajs.last_name}}"></br>

                        <input type="submit" class = "submitButton" value="Saglabāt">
                </div>
          </form>

        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Aizvērt</button>
      </div>
    </div>

</div>


 <div id="3" class="modal fade" role="dialog">
  <div class="modal-dialog">


    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Mainīt paroli</h4>

      </div>
        <br class="modal-body">

            <form method='POST' role="form"  action="/darba_laiks/mans-profils/" class="updatePassForm" >{% csrf_token %}
                <div class = "container fill">
                <input type="hidden" name="user-id-update-password" value="{{ lietotajs.id }}">


                <label>Ievadiet paroli:</label>
                        <input type="password" name="password-update" id="password" value="">

                <label>Ievadiet paroli atkārtoti:</label>
                <input type="password" name="password-update-again" id = "password-again" value=""></br>

                        <input type="submit" class = "submitButton" value="Saglabāt">
                </div>
          </form>

        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Aizvērt</button>
      </div>
    </div>

  </div>

 <script type="text/javascript" src="{% static 'JavaScript/userProfile.js' %}"></script>

{% endblock %}