<link rel="stylesheet" href="https://maxcdn.bootsdivapcdn.com/bootsdivap/3.3.7/css/bootsdivap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<link href="http://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet" type="text/css">

<link rel="stylesheet" type="text/css" href="/static/css/createUser.css">

<script type="text/javascript">

      function validate()
      {
          var un=document.getElementById('username').value;
          var password1=document.getElementById('password1').value;
          var password2=document.getElementById('password2').value;

         if( un == "" )
         {
            alert( "Lūdzu, ievadiet lietotājvārdu!" );
             document.getElementById('username').style.borderColor = "red";
            return false;
         }

         else {
             document.getElementById('username').style.borderColor = "black";
         }


         if( un.length< 5)
         {
             alert( "Lietotājvārdam jābūt vismaz 5 simbolu garam!" );
             document.getElementById('username').style.borderColor = "red";
            return false;
         }

         else {
             document.getElementById('username').style.borderColor = "black";
         }

          if( password1 == "" )
         {
            alert( "Lūdzu, ievadiet paroli!" );
            document.getElementById('password1').style.borderColor = "red";
            return false;
         }

          else {
             document.getElementById('password1').style.borderColor = "black";
         }

          if( password1.length< 8)
         {
             alert( "Parolei jābūt vismaz 8 simbolu garai!" );
            document.getElementById('password1').style.borderColor = "red";
            return false;
         }
          else {
             document.getElementById('password1').style.borderColor = "black";
         }

          if( password2 == "" )
         {
            alert( "Lūdzu, ievadiet paroli atkārtoti!" );
             document.getElementById('password2').style.borderColor = "red";
            return false;
         }

          else {
             document.getElementById('password2').style.borderColor = "black";
         }

          if( password2.length< 8)
         {
             alert( "Parolei jābūt vismaz 8 simbolu garai!" );
             document.getElementById('password2').style.borderColor = "red";
            return false;
         }

                   else {
             document.getElementById('password1').style.borderColor = "black";
         }

          if( password1!== password2)
         {
            alert( "Paroles nesakrīt!" );
            document.getElementById('password1').style.borderColor = "red";
            document.getElementById('password2').style.borderColor = "red";
            return false;
         }
          else {
             document.getElementById('password1').style.borderColor = "black";
         }


         return( true );
      }

</script>


<body>
    <div class="container">

        <div class="row">

            <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 id = "text">Pievienot jaunu lietotāju</h3>
                        <form name="myForm" class="form-horizontal" action="" method="POST" enctype="multipart/form-data" onsubmit="return(validate());"> {% csrf_token %}



                               <div class="form-group">
                                   <div class="col-sm-offset-2 col-sm-10">
                                       <span class="text-danger small"></span>
                                   </div>

                               <label class="control-label col-sm-2"><label for="id_username">Lietotājvārds:</label></label>
                              <div class="input-wrapper">
                                <input type="text" placeholder="" id="username" name="username" maxlength="150"/>
                              </div>


                               <label class="control-label col-sm-2"><label for="id_password1">Parole:</label></label>
                               <div class="input-wrapper">
                                <input type="text" placeholder="" id="password1" name="password1" maxlength="24" type="password" required/>
                              </div>



                               <label class="control-label col-sm-2"><label for="id_password2">Parole atkārtoti:</label></label>
                               <div class="input-wrapper">
                                <input type="text" placeholder="" id="password2" name="password2" maxlength="24" type="password" required/>
                              </div>


                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success">Ok</button>
                                </div>
                            </div>


                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/JavaScript/createUser.js"></script>

</body>






