{% extends "base.html" %}
{% load tagi_html %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/overtime.css' %}" />




    <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog">

          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ievadiet laika periodu, kurā Jūs gribētu atlasīt virsstundas</h4>
            </div>
            <br class="modal-body">

                <form method='POST' role="form" action="/darba_laiks/virsstundas-admin/" id="searchForm">{% csrf_token %}
                    <div class = "row oneRow">
                        <label>Datums no:</label>
                            <input type="text" name="datums-no-virsstundas-atlasit" class = "form-control date" id="from" value=""></br>
                    </div>
                    <div class = "row oneRow">
                        <label>Datums līdz:</label>
                            <input type="text" name="datums-lidz-virsstundas-atlasit" class = "form-control date" id = "until" value=""></br>
                    </div>
                    <input type="submit" value="Atlasīt" id ="choose">

              </form>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

    </div>
    <div id="title">Darbinieku virsstundas</div>
    <div id="search">
        <input type="text" name="q" placeholder="Meklēt lietotāju" id="searchField">
    </div>

     {% if atlasiti_dati %}



    <button class="modal-button" id = "select" type="button"  data-toggle="modal" data-target="#myModal2">Atlasīt virsstundas</button>
    <div class = "container">
        <table class="table" id="table">
            <thead>
              <tr>
                <th>Lietotājs</th>
                <th>Datums</th>
                <th>No</th>
                <th>Līdz</th>
                <th>Stundu skaits</th>
                  <th>Komentārs</th>
                <th>Statuss</th>

              </tr>
            </thead>

            <tbody>
                {% for atlasits in atlasiti_dati %}
                <form class = "container overtimeForm" method="POST" role="form" action="/darba_laiks/virsstundas-admin/" id = "overtimeStatus">{% csrf_token %}
                    <tr class = "oneForm">
                        <td class = "userName">{{atlasits.lietotajs.first_name}} {{atlasits.lietotajs.last_name}}</td>
                        <td>{{atlasits.datums|date:"d.m.Y"}}</td>
                        <td>{{atlasits.no|time:"H:i"}}</td>
                        <td>{{atlasits.lidz|time:"H:i"}}</td>
                        <td>{{atlasits.no|stundas_starp:atlasits.lidz }}</td>
                        <td>{{atlasits.komentars }}</td>
                        <td >
                            <div class = "status"></div>
                            <select class ="reason" id="InputReason" name = "reason" list = "Reason">
                                <option id = "Waiting" value = "gaida">Gaida</option>
                                <option id = "Approved" value = "apstiprinats">Apstiprināts</option>
                                <option id = "Rejected" value = "noraidits">Noraidīts</option>
                            </select>
                            <input type = "hidden" name= "atlasits_id" value = "{{atlasits.id}}" class="id">
                            <input type = "submit" value = "Saglabāt" class="Save">
                        </td>
                     </tr>
                </form>
                    {% endfor %}
            </tbody>

        </table>
    </div>



{% endif %}

{% for atlasits in atlasiti_dati %}
    <div class = "data">
        <div class = "receivedId">{{atlasits.id}}</div>
        <div class = "receivedReason">{{atlasits.statuss}}</div>
    </div>
{% endfor %}

<script type="text/javascript" src="{% static 'datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'datepicker/locales/bootstrap-datepicker.lv.min.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript" src="{% static 'JavaScript/overtime.js' %}"></script>

 {% endblock %}