{%extends "base.html" %}
{% block content %}

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/All.css' %}" />

    <div class = "container">

        <div class = "row" id = "firstRow">

            <span class = "pull-left" id="line">

                <div id = "today"> </div>
                 <button type="button" class="Button" id="Left">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                 </button>
                 <button type="button" class="Button" id="Right">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                 </button>
                <button type="button" class="Button" id="Calendar">
                      <span class="glyphicon glyphicon-calendar"></span>
                 </button>

            </span>

            <span class="pull-right">
                <div id = "search">
                    <form method="POST" action="">{% csrf_token %}

                            <input type="text" name="q" placeholder="Meklēt lietotāju" value="{{ request.get.q }}"/>
                            <input type="submit" value="Meklēt"/>

                    </form>
                 </div>
            </span>
        </div>

        <div class = "row" id = "secondRow"></div>

        <div class = "row" id = "people">

            {% for izmainits in visi %}
                <div class = "col-sm-2" id ="oneUser">

                     <div class = "dayBox" id = "box">

                        <div id = "user">

                             <span class="glyphicon glyphicon-star-empty pull-right" id="star"></span>
                            <div id = "userInfo">
                                {% if izmainits.avatar %}
                                    <img src="{{izmainits.avatar.url}}" class="img">

                                {% endif %}
                                <div id ="userName">
                                    {{izmainits.first_name}} {{izmainits.last_name}}
                                </div>
                            </div>
                        </div>


                        <ul id = "time">
                             <li class = "box1" id = "Mo8-9">08:00 - 09:00</li>
                             <li tabindex="1" class = "box2" id = "09-10">09:00 - 10:00</li>
                             <li tabindex="1" class = "box2" id = "10-11">10:00 - 11:00</li>
                             <li tabindex="1" class = "box2" id = "11-12">11:00 - 12:00</li>
                             <li tabindex="1" class = "box2" id = "12-13">12:00 - 13:00</li>
                             <li tabindex="1" class = "box2" id = "13-14">13:00 - 14:00</li>
                             <li tabindex="1" class = "box2" id = "14-15">14:00 - 15:00</li>
                             <li tabindex="1" class = "box2" id = "15-16">15:00 - 16:00</li>
                             <li tabindex="1" class = "box2" id = "16-17">16:00 - 17:00</li>
                             <li tabindex="1" class = "box2" id = "17-18">17:00 - 18:00</li>
                             <li class = "box1" id = "18-19">18:00 - 19:00</li>
                         </ul>
                     </div>


                </div>

            {% endfor %}

            {% for lietotajs in lietot %}
                <div class = "col-sm-2">
             {{ lietotajs }}
                 </div>
               {% endfor %}




        </div>
    </div>

    {% for lietot in izmainitie %}

    {{ lietot.lietotajs.username}}  </br>

    {%  endfor %}



    {% for lietot in iemesli %}

    {{ lietot.lietotajs.id}} </br>

    {%  endfor %}




        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'JavaScript/Visi.js' %}"></script>

{% endblock %}