{%extends "base.html" %}

{% block content %}

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/All.css' %}" />

    <div class = "row" id = "search">
        <form method="GET" action="">
          <span class="pull-right">
                <input type="text" name="q" placeholder="Meklēt lietotāju" value="{{ request.get.q }}"/>
                <input type="submit" value="Meklēt"/>
          </span>
        </form>
    </div>

    <div class = "row" id = "people">

        {% for darbinieks in darbinieki %}
            <div class = "col-sm-2">
           {{darbinieks.username}} {{darbinieks.first_name}} {{darbinieks.last_name}} <br>
            </div>
        {% endfor %}

    </div>






{% endblock %}